@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&family=Neonderthaw&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
}

body {
  background: rgb(13, 134, 124);
  background: linear-gradient(
    72deg,
    rgba(13, 134, 124, 1) 25%,
    rgba(22, 219, 103, 1) 79%
  );
}

#container {
  width: 60%;
  height: 500px;
  margin-left: 20%;
}

.card {
  width: 15%;
  height: 275px;
  float: left;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px 2px #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #d7f7dbd0;
}

.card img {
  width: 70%;
  height: 130px;
  z-index: 1;
}

.card span {
  text-align: center;
  margin-top: 10px;
}

.card h2 {
  text-align: center;
}

.green {
  background: #b9f5c0d0;
}

.red {
  background: #ee9185bd;
}

.blue {
  background: #bbe7ffbe;
}

.darkgreen {
  background: #7afd87b6;
}

.purple {
  background: #b97fc9bd;
}

.pink {
  background: #f392c3be;
}

.brown {
  background: #d8be6ac7;
}

.gray {
  background: #cecdcdd3;
}

.yellow {
  background: #c1df3abd;
}
